body {
  font-family: 'Josefin Sans';
  /* background-color: #FFFAFB; */
  background-color: rgb(1, 1, 15);
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}
.btn {
  background: linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  /* box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51); */
}
.btn:hover {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}
.gradient{
  background: -webkit-linear-gradient(#42A6E3, #FF56F6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.textP{
  background: #008080;
background: linear-gradient(to left, #008080 0%, #FFFFFF 25%, #05C1FF 50%, #FFFFFF 75%, #005757 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


::-webkit-scrollbar {
  width: 0px;
}

.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
 
  
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -20px;
  right: 80px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}
.right-arrow {
  right: 140px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1.3, 1.3);
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.detail-image {
  width: 729px;
  height: 742px;
}

.hero-banner-img {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 550px;
  height: 800px;
  margin-top: -200px;
  /* margin-top: -300px; */
  /* width: 600px;
  height: 800px; */

}

.exercise-card {
  width: 400px;
  height: 445px;
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  ) ;
  border-bottom-left-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card img {
  height: 326px;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  ) !important;
  color: #FFFFFF;
  width: 150px !important;
  height: 126px !important;
  gap: 15px !important;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}


.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: 381px;
  text-decoration: none;
}
.exercise-back{
  background: linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
 
}
.exercise-back2{
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.css-1gwnsqj-MuiStack-root {
 border: none !important;
 background: linear-gradient(
  92.23deg,
  #406aff 21.43%,
  #3bace2 50.63%,
  #b936ee 100%,
  #ff56f6 117.04%
) !important;
  width: 244px !important;
  height: 228px !important;
  gap: 37px !important;
}
.css-wtph2a-MuiTypography-root {
  font-size: 1rem !important;
  color: #ffffff !important;
}
.css-yx0nvq-MuiButtonBase-root-MuiPaginationItem-root{
  color: #FFFFFF !important;
}

@media screen and (max-width:1200px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }
  .hero-banner-img {   
    width: 400px;
    height: 600px;
    margin-top: -90px;
 
}  

  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  }

  .left-arrow,
  .right-arrow {
    position: static !important;
  }

  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }

}

@media screen and (max-width:885px){
  .hero-banner-img {   
    width: 350px;
    height: 550px;
    margin-top: -90px;
  }
}  
@media screen and (max-width:619px){
  .hero-banner-img {   
    width: 250px;
    height: 450px;
    margin-top: -80px;
 
}  
@media screen and (max-width:530px){
  .hero-banner-img {   
   display: none;
  }
}  
}

@media screen and (max-width:400px) {
  .exercise-card {
    width: 280px;
  }
}